aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
tgcrypto
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
youtube-search
youtube-search-python
yt-dlp
